<style>
  .b{
    color: crimson;
    font-size: 50px;
    font-family: serif;
    font-style: italic;
  }
  .c{
    color: red;
  }
  .g{
    font-size: 18px;
  }
  .d{
    font-family: serif;
    color: blue;
  }
  .s{
    
    width: 30%;
    border-radius: 15px;
    border: 2px #000 solid;
    padding: 5px 5px 5px 25px;
    position:relative;
    top: 10px;
    left: 1;
    z-index: 5;
}
  
  .col{
    color: white;
  }
  .btn{
    background-color:green;
  }
</style>


<div>
  
<input type = "text" align="center" name="search" [(ngModel)]="searchText" placeholder ="Explore Your choice!" class="display-4 mb-5 s" />
</div> 



<div class="row card-deck text-center ">
 

  <div *ngFor="let productInfo of page?.content | filter:searchText" class="col-lg-4 ">
    <div class="card mb-4"  >
      <img height="50%" class="card-img-top" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
      <div class="card-body">
        <h4 class="card-title ">{{productInfo.productName}}</h4>
        
        <div class="text-left">
          <p class="card-test g"><strong>Description: </strong>{{productInfo.productDescription}}</p>
          <p class="card-text g"><strong class="d">Price: </strong>{{productInfo.productPrice | currency}}</p>
          <p class="card-text g"><strong class="c">Stock: </strong>{{productInfo.productStock}}</p>
        </div>
        <br>
        <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock"
           class="btn btn-primary btn-lg col orange-500-bg"
        >BUY NOW!</a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    </div>
  </div>
</div>
<app-pagination  [currentPage]="page" ></app-pagination>
