

<body>
    <h2 class="heading">ABOUT US</h2>
    <img src="../assets/home4.jpg" alt="img" width="50%" class="center"><br>
    <p>ShopForHome is established in 2022. This website is made for the online shopping of home decor items. We
        manufacture and sell the best quality of material for the items.</p>
    <h5><b>Team-work</b></h5>
    <p> We have the creative and innovative team to work on the produts according to the trends. The good quality of
        product is manufactured and with the 100% assurity of material.</p>
    <h5><b>Our Commitment To You</b></h5>
    <p>We understand you want to make your home your way. Our large selection makes it easy to find items that fit your
        style and budget. Plus convenient options for purchase, pickup, delivery, and more. We want you to have peace of
        mind, knowing that you do not have to pay more for the quality and style you expect.</p>
    <h5><b>Satisfcation Guarantee</b></h5>
    <p>We work tirelessly to ensure you are taken care of. We will do everything in our power to make each step of the
        shopping experience memorable, stress-free, and enjoyable.
        <br>
        If you are not satisfied, we do everything in our power to make it right because that’s our promise and
        Satisfaction Guarantee.
    </p>

    <h5><b>Our Mission</b></h5>
    <p>To be Country's home store of choice by listening to our customers and providing solutions to their needs. We
        accomplish this by having superior products and by having every ShopForHome team member contribute to a positive
        and memorable customer experience. We strive to make a difference in the communities in which we live and work.
    </p>
    <h5><b>Our Core Values</b></h5>
    <ul class="bigfont">
        <li>We offer superior products to every customer at every opportunity </li>
        <li>We offer superior value to every customer at every opportunity</li>
        <li>We create superior customer experience at every opportunity</li>
        <li>We strive to create work environment that fosters growth and values job satisfaction</li>
        <li>We strive to make difference in our communities</li>
    </ul>

</body>
